# Environment
.env

# Pipeline run arifacts
runs/

# Logs
logs/

# Database 
*.db
**/.pipeline
*.sql

# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
*.egg-info/
dist/
build/

# Conda / virtual environments
.conda/
env/
venv/

# Model files
.gguf
.bin
.safetensors

# OS
.DS_Store
Thumbs.db
*.Identifier

# Editor
.vscode/
.diea/
*.swp
*.swo
logs/
